<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Listagem</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-item-group *ngFor="let leiturasEventoGrupo of leiturasEventoGrupos" padding>

    <ion-item-divider padding>

      <h1 ion-text padding>{{leiturasEventoGrupo.grupoEventoNome}}</h1>

      <ion-buttons end>

        <button ion-button (click)="acaoEnviarLeiturasEventoSophos(leiturasEventoGrupo.leiturasDesteGrupo, leiturasEventoGrupo.grupoEventoNome, leiturasEventoGrupo.grupoEventoId)">Enviar leituras ao Sophos</button>

      </ion-buttons>

    </ion-item-divider>

    <ion-row>

      <ion-list-header>

        PARTICIPANTE - MOMENTO DA LEITURA - ENVIADO AO SOPHOS

      </ion-list-header>

    </ion-row>

    <ion-item *ngFor="let leitura of leiturasEventoGrupo.leiturasDesteGrupo">

      {{leitura.participanteNome}} - {{leitura.dataInclusao | date:'dd/MM/yyyy HH:mm:ss'}} - {{leitura.sincronizado}}

    </ion-item>

  </ion-item-group>

</ion-content>
