<ion-header>
  <ion-navbar>
    <ion-title class="modal-title">{{nomeModal()}}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeModal()">Voltar</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-label><h2>Módulo:</h2></ion-label>

    <ion-select [(ngModel)]="moduloId">

      <ion-option *ngFor="let modulo of modulos" value="{{modulo.id}}">{{modulo.nome}}</ion-option>

    </ion-select>

    <ion-label><h2>Número do encontro:</h2></ion-label>

    <ion-input type="number" [(ngModel)]="numeroEncontro" minlength="0"></ion-input>

    <h1>Presenças a serem enviadas</h1>

    <ion-list-header>

      PARTICIPANTE - DATA REGISTRO - ENVIADO AO SOPHOS

    </ion-list-header>

    <ion-list *ngFor="let leitura of leituras">

      <ion-item>

        {{leitura.participanteNome}} - {{leitura.dataInclusao | date:'dd/MM/yyyy HH:mm:ss'}} - {{leitura.sincronizado}}

      </ion-item>

    </ion-list>

</ion-content>

<ion-footer>

  <ion-buttons end>

    <button ion-button (click)="enviarFrequenciasSophos()">

      Enviar presenças

    </button>

  </ion-buttons>

</ion-footer>
