<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Leitura de QR Code</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-row>

    <ion-col>

      <button ion-button color="primary" full (tap)="escanearQrCode()">Ler QR COde</button>

    </ion-col>

  </ion-row>

  <ion-row>

    <ion-col padding>

      <pre>{{lista | json}}</pre>

    </ion-col>

  </ion-row>

</ion-content>
